.container {
    height: fit-content;
    width: fit-content;
    border-style: outset;
    background-color: #DEDEFB;
    margin-top: 10px;
}

.form-control {
    width: 250px;
    margin: 10px;
    margin-left: 40px;
    padding: 10px;
    display: flex;
}

#resultado {
    margin-top: 30px;
}

#calcular {
    margin-top: 15px;
    margin-left: 40px;
}