body {
    background: yellow;
}

.encabezado {
    text-align: center;
    color: orange
}

.ColorBing {
    color:purple;
}

.ColorGoogle {
    color: green;
    text-decoration: none;
}

.colorredes {
    color: red;
}