p.light {
    font=weight: lighter;
}
p.bold {
    font-weight: bold;
}
p.bolder {
    font-weight: bolder;
}
p.light {
    font-weight: lighter;
}
p.thick {
    font-weight: bold;
}
p.thicker {
    font-weight: 700;
}