#bot{
    background-color: bisque; 
    border-color: beige; 
    color: black;
    border-color: black;
    border-width: 2px;
}

#but1{
    background-color: #C6AD8E;
    border-color: #C6AD8E;
    color: #504538;
}
#but2{
    background-color: #C6AD8E;
    border-color: #C6AD8E;
    color: #504538;
}
#result{
    background-color: #504538;
    border-color: #504538;
    color: #B7A99A;
}