
body {
    padding: 20px;
    text-align: center;
    
}
.row {
   justify-content: center;
}


form {
padding: 15px;
background:#C5E0D8;
justify-content: center;
border-radius: 15px;

}

form h1 {
    font-size: 25px;
}

input[type="text"] {
    padding: 5px;
    margin: 10px;
}

