body{
    background-color: black;
    
    background-image: url(oro.jpg) ;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    
    color: rgb(87, 233, 94);
}
/*definicion del bloque */
.container{
    background-color: rgba(255, 255, 255, .01);
    height: center;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    transform: translateX(100%);
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255, 217, 0, 0.226);
    border-radius: 1px;
    width: 25%;
    margin: 150px;
    
    box-shadow: 0 10px 20px 5px rgba(255, 217, 0, 0.226);
}

/*espacio y dimencion del boton*/
.btn{
    
    position: static;
    display: inline-block;
    padding: 10px 20px;
    color: #2196f3;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none ;
    font-size: small;
    overflow: hidden;
    transition: 0.2s;
}
/*iluminacion del boton */

.btn:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px
    #2196f3;
    transition-delay:.0s;
} /* Indagar el codigo mas a fondo... martes 8:45 pm 
.btn:nth-child(3){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90dg,transparent,#2196f3);
}
.btn:hover .btn:nth-child(3){
    left: 100%;
    transition: 1s;
}*/

