.all {
    text-align: center;
}

.titulo {
    font-weight: bolder;
    color:;
    background-color: ;
}

.botones {
    margin: 20px;
}

#result {
    margin: 20px;
    font-size: 30px;
    font-family: monospace;
} 