body{
    background-color: cornflowerblue;
}
.header{
    background-color: yellow;
    text-align: center;
}

.col{
    text-align: center;
    transition: all ease 0.6s;
}

.opciones{
  cursor: pointer;
  color: #000;
}

.opciones:hover{
    background-color: #000;
    color: #fff;
}

#menu{
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

#menu:hover{
    color: #000;
    background-color: #fff;
  
}


.aside{
    background-color: #10396A;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.principal{
    background-color: #BA1200;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redSocial{
    text-align: center;
}

.facebook{
    background-color: #3b5998;
    color: #fff;
    transition: all 0.6s ease;
}

.facebook:hover{
    background-color: #fff;
    color: #3b5998;
}

.pinterest{
    background-color: #cb2027;
    color: #fff;
    transition: all 0.6s ease;
}

.pinterest:hover{
    background-color: #fff;
    color: #cb2027;
}

.snapchat{
    background-color: #81367B;
    color: #fff;
    transition: all 0.6s ease;
}

.snapchat:hover{
    background-color: #fff;
    color: #81367B;
}

.row-misBotones{
    background-color: blue;
}

.columna{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.miBoton{
    background-color: #ccc;
    

}

