.heading{
    font-size: 50px;
}

.intro{
    background-color: #98c4e4;
}

body{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}




.skills ul li {
    display: flex;
    justify-content: space-between;
}

.skills ul li .skills_prog {
    width: 60%;
    height: 5px;
    position: relative;
    
 }

.skills ul li .skills_prog span {
    position: absolute;
    height: 100%;
    background: #2F5A78;
    padding-right: 50px;

    
 } 

