h1{
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
    color: black;
}
body{
    background-image: url(images.jpeg);
    table-layout: fixed;

}
#hdr {
    background: url(images.jpeg) repeat-x;
    width: 100%;
    text-align: center;
  }

  