#a_2{
    background-color: #dbdae6;
}


#a_3{
    background-color: #dbdae6;
    width:50%;
    height:50%;

}

#formulario{
    text-align: center;
    color: white;
    background-color: brown;
    width:50%;
    height:50%;
    border-radius: 10px;
}