/*Links can be styled with any CSS property (e.g., color, font-family, background, etc.).
In addition, links can be styled differently, depending on what state they are in. 
The following pseudo selectors are available:
	a:link - defines the style for normal unvisited links
	a:visited - defines the style for visited links
	a:active - a link becomes active once you click on it
	a:hover - a link is hovered when the mouse is over it*/

a:hover {
    color:red;
}

/*Links' Text Decoration.
the text-decoration property is used to remove the underline.*/
a:link {
	text-decoration:none;
}
