h1{
    color: aliceblue;
    background-color: rgb(114, 3, 124);
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding-top: 1%;
    padding-bottom: 2%;
}

.table [scope="col"]{
    background-color: rgb(189, 51, 207);
}

.table{
    background-color: rgb(214, 170, 255);
}
