/*sSELECTORES*/

/*selector universal*/
*{
  font-family: Verdana, Geneva, Tahoma, sans-serifs;

}
/*selector de etiqueta*/
h1{
  background: palevioletred;
  color: rgb(70, 16, 56);
  padding: 10px;
}
a{
  font-size: 18px;
  color: peru;
  text-decoration: none;
}
footer a{
  color: blueviolet;
}

/*selector de id*/
#descripcion{
  border: 5px solid rgb(233, 161, 185);
  padding: 10px;
}

/*selector de clase*/
.parrafo{
  font-style: italic;
  text-decoration: aqua;
  font-weight: bold;
}
.parrafo2{
  background-color: rgb(226, 196, 226) ;
  color: rebeccapurple;
  padding: 20px;
}
/*selector de atributo*/
#usuario form{
  border: 5px solid pink;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px;
}

#usuario form *{
  display: block;
}
input[type="text"]{
  margin-bottom: 15px;
  padding: 3px;
  width: 200px;
}
input[type="submit"]{
  background: pink;
  color: blueviolet;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid rgb(94, 6, 60);
  cursor: pointer;
}
/*Selectores hijo*/

