body{
    background-color: peru;
}
h1{
    color: brown;
    text-align: center;
}
div.calculadora {
    background-color: peru;
    color: antiquewhite;
    flex-direction: column;
    padding: 100px;
}

div.cal_numeros {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

div.cal_resultado{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.cal_botones{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
