
html{
    font-family: 'Montserrat', sans-serif;
}

body{
    /*margin: 0;
    background-color:#efefef;*/
    background-image: url(img/calendar.png);
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}

header{
    background-color: #b4c5e4;
    color:antiquewhite;
    padding:0.1rem 2rem;
    text-align:center;
}

div h2 {
    font-size: 4rem;
    text-align:left;
    color:darksalmon;
    padding: 4rem 3rem;

}



/*.container {
    width: 400px;
    margin: 0 auto;

}*/

#button {
    width: 400px;
    margin: 0 auto;
    border-radius: 0.5rem;
    text-align: left

}