
body {
    padding: 20px;
    text-align: center;
    background-image: url(paisa2.jpg);
    
}
.container {
    width: 500px;
}


form {
padding: 25px;
background:#f0f0f0;
justify-content: center;
border-radius: 40px;
}

form h1 {
    font-size: 50px;
}

input[type="text"] {
    padding: 35px;
    margin: 80px;
}

.centrarForm{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

