.heading{
    font-size: 35px;
    font-weight: bolder;
    text-transform: uppercase;
}
.intro {
    background-color: #2F5A78;
    color: white;
    padding-left: 16px;
    padding-bottom: 8px;
    margin-bottom: 4px;
}
body{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}
.prof{
    font-size: 20px;
    font-weight: lighter;
}
.contactinfo{
    font-size: 15px;
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #eeeeee;
}
.subheading{
    font-size: 20px;
    font-weight: bolder;
    color: #2F5A78;
    text-transform: uppercase;    
    padding-left: 16px;
}
.icon{        
    float: left;
    color: #2F5A78
}
.date{
    font-size: 16px;
    color: #2f5A78;
    font-weight: bold;
}
.social{
    padding-left: 16px;
}
.skills ul li{
    display: flex;
    justify-content: space-between;
}
.skills ul li .skill_prog{
    width: 60%;
    height: 5px;
    position: relative;
}
.skill_prog span{
    padding-right: 50px;
    background: #2F5A78;
    height: 100%;
    position: absolute;
}
.skill_name{
    width: 4px;
}
.skill_per{
    margin-right: 15px;
}
img{
    float: right;
}