*{
    box-sizing: border-box;
}

body{
    background-image: url("fondoCalcuChido.jpg");
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}


.formulario-container{
    width: 400px;
    height: 400px;
    background-color: rgba(6, 7, 14,0.4);
    border-radius: 20px;
    padding: 20px;
}

.contenedor-titulo{
    text-align: center;
    color: #fff;
}

.contenedor-inputs{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    border-radius: 10px;
}

.numeros{
    width: 50%;
    height: 40px;
    border: 0;
    background-color: rgba(245, 249, 241,0.7);
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;
}

.numA{
    border-radius: 10px 0 0 0;
    border-right: 1px solid #000;
}

.numB{
    border-radius: 0 10px 0 0;
}

.numeros:hover{
    background-color: rgba(245, 249, 241,1);
}

.resultado{
    width: 100%;
    height: 40px;
    border-radius: 0 0 10px 10px;
    border: 0;
    border-top: 1px solid #000;
    background-color: rgba(245, 249, 241,0.7);
    text-align: center;
}

.contenedor-buttons{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 10px;
}

.contenedor-buttons .boton-operacion{
    width: 25%;
    height: 50px;
    background-color: #0C59AC;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 20px;
    text-align: center;
}

.contenedor-buttons .btn-suma{
    border-radius: 10px 0 0 0;
    border-right: 1px solid #F5F9F1;
}

.contenedor-buttons .btn-division{
    border-radius: 0 10px 0 0;
    border-left: 1px solid #F5F9F1;
}

.contenedor-buttons .btn-multiplicacion{
    border-left: 1px solid #F5F9F1;
}

.contenedor-buttons .boton-operacion:hover{
    background-color: rgba(245, 249, 241);
    color: #0C59AC;
}


.contenedor-buttons .btn-borrar{
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #F25757;
}

.contenedor-buttons .btn-borrar:hover{
    color: #F25757;
}