html {
  background-image: url("nubes-rosa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  background-color: black;
  filter: opacity(60%) contrast(90%);
  color: white;
  font-style: italic;
  text-align: center;
  margin-top: 1%;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contenedor-mayor {
  background-color: rgba(189, 74, 212, 0.5);
  width: 419px;
  height: 330px;
  margin-top: 10%;
  padding: 0%;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contenedor-ingresar input[type="number"] {
  height: 70px;
  margin-top: -18px;
  text-align: center;
  font-size: medium;
}

.contenedor-resultado input[type="number"] {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 402px;
  height: 40px;
  text-align: center;
  font-size: medium;
}

.botones [type="button"] {
  width: 99.5px;
  height: 70px;
  font-size: x-large;
  margin-bottom: 3px;
}

.borra [type="button"] {
  height: 35px;
  width: 410px;
}

body {
  display: flex;
  justify-content: center;
}
