*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #694873;

}
.contenedor-table{
    background-color: white;
    margin-top: 10%;
    border-radius: 10px;
    width: 80%;
    align-items: center;
    margin-left: 10%;
}
h1{
    text-align: center;
   
   
}
footer{
    height: 40%;
    margin-top: 8%;


}
#footer{
    height: 20%;
    min-height: fit-content;
    width: 100%;
    margin-left: 10%;
}