/*your CSS code here*/
.heading{
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;

}

.intro{
    background-color: #2F5A78;
    color: white;
    padding-left: 16px;
    padding-bottom: 8px;
    margin-bottom: 4px;
}

body{
        font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}
.prof{
    font-size: 20px;
    font-weight: bolder;
}
.contactinfo{
    font-size: 15px;
    /*font-weight: lighter;*/
    padding-left: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #eeeeee;
}

.subheading{
    font-size: 20px;
    font-weight: bolder;
    color: #2F5A78;
    text-transform: uppercase;
}

.icon{
    color: #2F5A78;
}

.date{
    font-size: 16px;
    color: #2F5A78;
    font-weight: bold;
}