.container{
    background-color: rgb(0, 255, 85);
    width: 41%;
    height: 41%;
    border-radius: 10px;
    align-content: center;
}

.center-block{
    float:none;
}

.t_1{
    align-tx: center;
    color: #008f4c;
}