html{
    background-color: rgb(222, 252, 242);
}

.d-grid{
    color: rgb(25, 25, 114);
}

#boton{
    background: rgb(74, 74, 233);
    color: aliceblue;
}

.contenedor{
    display: flex;
    justify-content: center;
}